<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Midi Trainer</title>

	<!-- Bootstrap -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link href="./index.css" rel="stylesheet">
</head>

<body>
	<div id="toasts">
		<div
			v-for="toast in toasts"
			v-bind:class="{ 'alert-danger': toast.type == 'error', 'alert-warning': toast.type == 'warning', 'alert-info': toast.type == 'info' }"
			class="alert alert-secondary">
			<div>
				<strong class="mr-auto">{{ toast.header }}</strong>
			</div>
			<div v-html="toast.message"></div>
		</div>
	</div>

	<div id="root" class="container">
		<div id="errors"></div>
		<h1>MidiTrainer (WIP)</h1>
		<small>This should be a standalone html page. Try right-click > Save Page As to use it offline! Source code on <a href="https://github.com/Cannedfood/MidiTrainer">GitHub</a></small>
		<canvas id="midi-canvas" width="800" height="600"></canvas>
	</div>

	<div class="container">
		<input id="midi-file-input" type="file" title="Open Midi File">
	</div>

	<div id="devices" class="container d-flex flex-row">
		<div class="device-group">
			<h3>Inputs</h3>
			<div v-for="device in inputs">
				<strong>{{ device.name }}</strong> <small>({{ [device.manufacturer, device.state, device.connection].filter(v=>v).join(', ') }})</small>
			</div>
		</div>
		<div class="device-group">
			<h3>Outputs</h3>
			<div v-for="device in outputs">
				<strong>{{ device.name }}</strong> <small>({{ [device.manufacturer, device.state, device.connection].filter(v=>v).join(', ') }})</small>
			</div>
		</div>
	</div>

	<script src="./index.ts"></script>
</body>

</html>
