<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Midi Trainer</title>

	<!-- Bootstrap -->
	<link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<link href="./index.css" rel="stylesheet">
</head>

<body>
	<div id="toasts">
		<div
			v-for="toast in toasts"
			v-bind:class="{ 'alert-danger': toast.type == 'error', 'alert-warning': toast.type == 'warning', 'alert-info': toast.type == 'info' }"
			class="alert alert-secondary">
			<div>
				<strong class="mr-auto">{{ toast.header }}</strong>
			</div>
			<div v-html="toast.message"></div>
		</div>
	</div>

	<div id="root" class="container">
		<div id="errors"></div>
		<h1>MidiTrainer (WIP)</h1>
		<small>This should be a standalone html page. Try right-click > Save Page As to use it offline! Source code on <a href="https://github.com/Cannedfood/MidiTrainer">GitHub</a></small>
		<canvas id="midi-canvas"></canvas>
		<button onclick="toggleMidiCanvasFullscreen()">Fullscreen</button>
	</div>

	<div class="container">
		<input id="midi-file-input" type="file" title="Open Midi File">
	</div>

	<div id="devices" class="container">
		<div class="device-group">
			<h3>Inputs</h3>
			<div v-for="device in inputs">
				<strong>{{ device.name }}</strong> <small>{{ device.manufacturer?'('+device.manufacturer+')':'' }}</small>
			</div>
		</div>
		<div class="device-group">
			<h3>Outputs</h3>
			<div v-for="device in outputs">
				<strong>{{ device.name }}</strong> <small>{{ device.manufacturer?'('+device.manufacturer+')':'' }}</small>
			</div>
		</div>
	</div>

	<div id="track-selection" class="container">
		<h3>Tracks</h3>
		<select v-model="selected_track">
			<option v-for="track in tracks">
				{{track.name}}
			</option>
		</select>
	</div>

	<script src="./index.ts"></script>
</body>

</html>
